name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/setup-nix
      - name: Run flake check
        run: nix flake check

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/setup-nix
      - name: Run tests
        run: |
          rev=$(nix eval --raw --impure --expr \
            'let lock = builtins.fromJSON (builtins.readFile ./flake.lock); in lock.nodes.nixpkgs.locked.rev')
          NIX_PATH="nixpkgs=https://github.com/NixOS/nixpkgs/archive/${rev}.tar.gz" \
            nix build -f ./test --print-build-logs
